.leaflet-container {
  height: calc(100vh - 175px);
  width: 100vw;
}

.leaflet-marker-pane .leaflet-interactive {
  margin-top: -36px !important;
}

.leaflet-marker-pane .leaflet-interactive.point-icon {
  margin-left: -14px !important;
  margin-top: -32px !important;
}

.leaflet-popup-content {
  min-width: 200px;
}

@media (min-width: 720px) {
  .leaflet-container {
    height: calc(100vh - 199px);
  }
}
